{% extends 'auctions/layout.html' %}

{% block body %}
    <h1>{{ listing.title }}</h1>
    <div>
        <img src="{{ listing.image_url }}">
        <p>{{ listing.description }}</p>
        <p>{{ listing.price }}</p>
    </div>
    {% if user.is_authenticated %}
        <form action="{% url 'listing' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Bid">
        </form>
        <form action="{% url 'wishlist' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Add To Wishlist">
        </form>
    {% endif %}
{% endblock %}