{% extends 'auctions/layout.html' %}

{% block body %}
    <h1>{{ listing.title }}</h1>
    <div>
        <img src="{{ listing.image_url }}">
        <p>{{ listing.description }}</p>
        <p>{{ listing.price }}</p>
    </div>
    {% if user.is_authenticated %}
        {% if listing.is_active %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
                {{ form }}
                <input type="submit" value="Bid">
            </form>
        {% endif %}
        <form action="{% url 'wishlist' %}" method="POST">
            {% csrf_token %}
            <input type="number" value="{{ listing.id }}" name="id" hidden>
            <input type="submit" value="Add To Wishlist">
        </form>
        {% if user == listing.poster %}
            {% if listing.is_active %}
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="number" value="1" name="close" hidden>
                    <input type="submit" value="Close Auction">
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
    <div>
        <h3>Comments</h3>
        {% for comment in comments %}
            <h4>{{ comment.poster.username }}</h4>
            <p>{{ comment.text }}</p>
        {% endfor %}
        {% if user.is_authenticated %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    </div>
{% endblock %}